{% extends 'base.html' %}
{% block content %}

<h3 style="text-align: center;">FORM REGISTER</h3>
<br>
<div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary"><a href="/registerPenjual"
            style="text-decoration: none; color: #FFFFFF;">Penjual</a></button>
</div>
<br>
<div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary"><a href="/registerPembeli"
            style="text-decoration: none; color: #FFFFFF;">Pembeli</a></button>

</div>
{% endblock content %}