{% extends 'base.html' %}
{% block content %}

<div class="d-flex justify-content-center">
    <h1 style="font-weight: bold;">Selamat Datang di Orange Thrift Shop, {{user.nama}}</h1>
</div>

{% endblock content %}