{% extends 'base.html' %}
{% block content %}

<h3 style="text-align: center;">LOGIN</h3>
<br>
<div class="d-flex justify-content-center">
    <form method="post">
        <span class="mb-0 text-muted">
            {% if msg %}
                {{ msg | safe }}
            {% endif %}
          </span>
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">Username:</label>
            {{form.username}}
            </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password:</label>
            {{form.password}}
          </div>
     
        <div class="d-flex justify-content-center">
            <input type="submit" value="Log In" class="btn btn-pill text-white btn-block btn-primary">
        </div>
    </form>
</div>

{% endblock content %}