{% extends 'base.html' %}
{% block content %}

<h3 style="text-align: center;">FORM PENDAFTARAN PEMBELI</h3>
<br>

<div class="d-flex justify-content-center">

    <form method="post">
        {% if msg %}
                {{ msg | safe }}
            {% endif %}
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">Username:</label>
            {{form.username}}
          </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email:</label>
            {{form.email}}
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password:</label>
            {{form.password1}}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Confirm password:</label>
            {{form.password2}}
          </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Nama:</label>
            {{form.nama}}
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Nomor HP:</label>
            {{form.no_hp}}
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Alamat:</label>
            {{form.alamat}}
        </div>
          <span class="text-error">{{ form.errors }}</span>
        <div class="d-flex justify-content-center">
            <input type="submit"  value="Register" class="btn btn-pill text-white btn-block btn-primary">
        </div>
    </form>
</div>

{% endblock content %}