{% extends 'base.html' %}
{% block content %}

<h3>Detail Barang</h3>
<p>ID Barang: {{detail.idBarang}}</p>
<p>Nama Barang: {{detail.namaBarang}}</p>
<p>Jenis Barang: {{detail.jenisBarang}}</p>
<p>Harga Barang: {{detail.harga}}</p>
<p>Status Barang: {{detail.status}}</p>
<p>Ukuran Barang: {{detail.ukuran}}</p>
<p>Kondisi Barang: {{detail.kondisi}}</p>
<p>Pembeli: {{detail.pembeli}}</p>
<div class="d-flex justify-content-center">
    <a class = "btn btn-danger" href="/barang/listBarang/">Back</a>
</div>
{% endblock content %}