{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center">
    <h1 style="font-weight: bold;">List Barang</h1>
</div>
<br>
<div style="max-width:80%; margin-left: auto; margin-right: auto;">
    <table class="table table-hover">
        <thead>
          <tr style="text-align: center;">
            <th scope="col">ID Barang</th>
            <th scope="col">Nama Barang</th>
            <th scope="col">Harga</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% if request.user.is_penjual == True%}
            {% for i in listBarang %}
            <tr style="text-align: center;">
                <th scope="row">{{i.idBarang}}</th>
                <td>{{i.namaBarang}}</td>
                <td>{{i.harga}}</td>
                <td>{{i.status}}</td>
                <td><div class="d-flex justify-content-center">
                {% if i.is_terjual == False %} 
                <button type="submit" class="btn btn-success"><a href="{% url 'barang:updateBarang' i.idBarang %}"
                style="text-decoration: none; color: #FFFFFF;">Update</a></button>
                {% endif %}
                <button class="btn btn-success"><a href="{% url 'barang:detailBarang' i.idBarang %}"
                  style="text-decoration: none; color: #FFFFFF;">Detail</a></button>
                
                <form action = "/barang/deleteBarang/" method ="get">
                    <input type = "hidden" id="idBarang" name="idBarang" value="{{i.idBarang}}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>

            </div></td> 
          </tr>
          {% endfor %}
          {% endif %}
          {% if request.user.is_pembeli == True %}
            {% for i in listB %}
            <tr style="text-align: center;">
                <th scope="row">{{i.idBarang}}</th>
                <td>{{i.namaBarang}}</td>
                <td>{{i.harga}}</td>
                <td>{{i.status}}</td>
                <td><div class="d-flex justify-content-center"> 
                <button class="btn btn-success"><a href="{% url 'barang:detailBarang' i.idBarang %}"
                  style="text-decoration: none; color: #FFFFFF;">Detail</a></button>
                {% if i.is_terjual == False %}
                <form action = "/transaksi/createTransaksi" method ="get">
                    <input type = "hidden" id="idBarang" name="idBarang" value="{{i.idBarang}}">
                    <button type="submit" class="btn btn-danger">Beli</button>
                </form>
              {% endif %}
            </div></td> 
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
<br>
{% if request.user.is_penjual == True %}
<div class="d-flex justify-content-center">
  <button type="submit" class="btn btn-success"><a href="/barang/createBarang/"
      style="text-decoration: none; color: #FFFFFF;">Buat Barang Baru</a></button>
</div>
{% endif %}
{% endblock content %}