{% extends 'base.html' %}
{% block content %}

<h3 style="text-align: center;">FORM UPDATE BARANG</h3>
<br>

<div class="container">
    <form method="post">
        {% if msg %}
                {{ msg | safe }}
            {% endif %}
        {% csrf_token %}
        <div class="form-group">
            <label for="formGroupExampleInput">ID Barang:</label>
            {{form.idBarang}}
          </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Nama Barang:</label>
            {{form.namaBarang}}
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Jenis Barang:</label>
            {{form.jenisBarang}}
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Harga:</label>
            {{form.harga}}
          </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Status:</label>
            {{form.status}}
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Ukuran:</label>
            {{form.ukuran}}
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Kondisi:</label>
            {{form.kondisi}}
        </div>
          <span class="text-error">{{ form.errors }}</span>
        <div class="d-flex justify-content-center">
            <input type="submit"  value="Update" class="btn btn-pill text-white btn-block btn-primary">
            <a class = "btn btn-danger" href="/barang/listBarang">Batal</a>
        </div>
    </form>
</div>

{% endblock content %}