{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            {% if user.is_authenticated %}
            <a class="navbar-brand" href="/home/">Orange Thrift Shop</a>
            {% else %}
            <a class="navbar-brand" href="/">Orange Thrift Shop</a>
            {% endif %}
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            {% if request.session.role == 'penjual'%}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Toko
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'barang:readBarang' %}">List Barang Toko</a>
                </div>
            </li>
            {% endif %}
            {% if request.session.role == 'pembeli'%}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Barang
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'barang:readBarang' %}">List Barang</a>
                    <a class="dropdown-item" href="{% url 'transaksi:readTransaksi' %}">List Barang Dibeli</a>
                </div>
            </li>
            {% endif %}
            </ul>
        </div>
        {% if user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right">
            <a href="/logout/"><button type="button">LOG OUT</button></a>
        </ul>
        {% else %}
        <ul class="nav navbar-nav navbar-right">
            <a href="/login/"><button type="button">LOG IN</button></a>
            <a href="/register/"><button type="button">REGISTER</button></a>
        </ul>
        {% endif %}
    </div>
</nav>