{% extends 'base.html' %}
{% block content %}

<h3 style="text-align: center;">BELI BARANG</h3>
<br>
<div class="d-flex justify-content-center">

    <form method="post">
        {% if msg %}
                {{ msg | safe }}
            {% endif %}
        {% csrf_token %}
        <div class="form-group">
            <label for="formGroupExampleInput">ID Transaksi:</label>
            {{form.idTransaksi}}
          </div>
        <div class="form-group">
            <label for="form-group">Metode Pembayaran:</label>
            <br>
            {{form.metodePembayaran}}
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Total Harga:</label>
            {{form.totalHarga}}
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Ongkos Kirim:</label>
            {{form.ongkosKirim}}
          </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Jenis Barang:</label>
            {{form.jenisBarang}}
        </div>
          <span class="text-error">{{ form.errors }}</span>
        <div class="d-flex justify-content-center">
            <input type = "hidden" id="idBarang" name="idBarang" value="{{hasil}}">
            <input type = "hidden" id="jenisBar" name="jenisBar" value="{{jenisBar}}">
            <input type = "hidden" id="price" name="price" value="{{price}}">
            <input type="submit"  value="Beli" class="btn btn-pill text-white btn-block btn-primary">
            <a class = "btn btn-danger" href="/barang/listBarang/">Batal</a>
        </div>
    </form>
</div>

{% endblock content %}