{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center">
    <h1 style="font-weight: bold;">List Transaksi</h1>
</div>
<br>
<div style="max-width:80%; margin-left: auto; margin-right: auto;">
    <table class="table table-hover">
        <thead>
          <tr style="text-align: center;">
            <th scope="col">ID Transaksi</th>
            <th scope="col">Metode Pembayaran</th>
            <th scope="col">Total Harga</th>
            <th scope="col">Ongkos Kirim</th>
            <th scope="col">Jenis Barang</th>
          </tr>
        </thead>
        <tbody>
          {% if request.user.is_pembeli == True %}
          {% for i in listTransaksi %}
            <tr style="text-align: center;">
                <th scope="row">{{i.idTransaksi}}</th>
                <td>{{i.metodePembayaran}}</td>
                <td>{{i.totalHarga}}</td>
                <td>{{i.ongkosKirim}}</td>
                <td>{{i.jenisBarang}}</td>
            </div></td> 
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
<br>
{% endblock content %}